body {
    background: #808080;
    text-align: center;s
}
 body h1 {
     text-align: center;
     font-family: 'Courier';
     text-shadow: 2px 2px purple;
 }
 
 body p {
     font-size: larger;
 }
 
 body h2 {
     text-decoration: underline;
 }
 
#bio {
     margin: auto;
     max-width: 800px;
 }